version: '3.2'

services:
  bmsisp:
    image: andrewjsc/bmsisp:mongo
    restart: always
    environment:
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
      MONGO_DB: bmsisp
    ports:
      - 5000:5000
    devices:
      - /dev/video0:/dev/video0

  mongodb:
    image: mongo:4.0
    restart: always
    volumes:
      - mongodb-volume

  mongodb-setup:
    image: mongo:4.0
    volumes:
      - type: bind
        source: ../mongodb/dump.bak
        target: /dump.bak
      - ../mongodb/encodings_dump:/dump
    entrypoint: bash -c "mongodump --host mongodb -d bmsisp -o dump.bak && mongorestore --host mongodb --drop /dump"

volumes:
  mongodb-volume:
