<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Biometric System Management</title>
</head>

<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/management">Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage</li>
        </ol>
    </nav>

    <div class="p-3 mb-2 bg-light text-dark">
        <img src="data:image/jpeg;base64,{{ image }}">
        <p></p>
        <ul class="list-group">
            <li class="list-group-item">Nome: {{ person.name }}</li>
            <li class="list-group-item">Ministerio: {{ person.ministry }}</li>
            <li class="list-group-item">Sexo: {{ person.gender }}</li>
            <li class="list-group-item">Data de nascimento: {{ person.birth_date }}</li>
            <li class="list-group-item">Membro ativo: {{ is_active }}</li>
            <p></p>

            <form method="post" enctype="multipart/form-data">
                {% for day in person.calendar.sundays %}
                <div class="form-group">
                    <label for="day">{{ day }}</label>
                    <select class="form-control" id="day" name="{{ day }}">
                        <option value="ABSENT" {% if day.presence.name == 'ABSENT' %} selected {% endif %}>Ausente</option>
                        <option value="LATE" {% if day.presence.name == 'LATE' %} selected {% endif %}>Atrasado</option>
                        <option value="PRESENT" {% if day.presence.name == 'PRESENT' %} selected {% endif %}>Presente</option>
                    </select>
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-outline-success" value="Gravar">
                <a href="">
                    <input type="button" class="btn btn-outline-secondary" value="Desfazer">
                </a>
                <a href="/management/delete/{{ person._id }}">
                    <input type="button" class="btn btn-outline-danger" value="Apagar">
                </a>
                <a href="/management">
                    <input type="button" class="btn btn-outline-primary" value="Voltar">
                </a>
            </form>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
